/*personajes*/
.home .carousel{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    
 }
 .home .carousel-item::before{
     content: "";
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     opacity: 0.7;
     
 }
 .main{
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: repeat(2, 1fr);
 
 .section {
     padding: $sp-xl;
     font-size: $text-xs;
     display: grid;
     justify-content: center;
     grid-column: span 12;
     grid-row: 1;
     
     .post-preview-1{
     display: grid;
     grid-column:span 5;
     grid-row: 1/2;
 }
 .post-title {
     font-size: $text-lg ;
     display: grid;
 }
 .post-subtitle {
     font-size: $text-md;
     color: $acent;
 }
 .post-text {
     font-size: $text-sm;
 }
 }
 
 .section-1 {
     display:grid;
     gap: $sp-md;
     font-size: $text-sm;
     background-color: $acent;
     margin: 0 auto;
     align-items: center;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 2;

     .post-preview-1{
        display: grid;
        grid-column:span 5;
        grid-row: 1/2;
    }
     
     .post-preview-1-images{
    display: grid;
    grid-column: span 5;
    grid-row: 1/2;
    box-sizing: border-box;
    border-radius: 8px;
 }
 .post-preview--1-images{
     display: grid;
    grid-column: span 5;
    grid-row: 1/2;
    box-sizing: border-box;
    border-radius: 8px;
 }
 
 .post-title-1 {
     font-size: $text-lg;
     display: grid;
     justify-content: center;
 }
 .post-subtitle-1 {
     font-size: $text-md;
     color: $primary;
     display: flex;
     justify-content: center;
 }
 .post-text-1 {
     font-size: $text-sm;
     display: grid;
     justify-content: center;
 }
 }
 
 .section-2 {
     display:grid;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $primary;
     justify-content: space-around;
     margin: 0 auto;
     align-items: center;
     grid-column: span 12;
     grid-row: 3;
     .post-preview-2{
     display: grid;
     grid-column:span 5;
     grid-row: 2/3;
 }
 .post-preview-2-images{
     display: grid;
     grid-column: span 8;
     grid-row: 2/3;
 }
 .post-title-2 {
     font-size: $text-lg;
     display: grid;
     justify-content: center;
 }
 .post-subtitle-2 {
     font-size: $text-md;
     color: $acent;
     display: flex;
     justify-content: center;
 }
 .post-text-2 {
     font-size: $text-sm;
     display: grid;
     justify-content: center;
 }
 }
 
 .section-3 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $acent;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 4;
     
     .post-preview-3{
     display: grid;
     grid-column:span 5;
     grid-row: 3/4;
 }
 .post-preview-3-images{
     display: grid;
     grid-column: span 8;
     grid-row: 3/4;
 }
 .post-preview--3-images{
     display: grid;
     grid-column: span 8;
     grid-row: 3/4;
 }
 .post-title-3 {
     font-size: $text-lg;
     display: flex;
     justify-content: center;
 }
 .post-subtitle-3 {
     font-size: $text-md;
     color: $primary;
     display: flex;
     justify-content: center;
 }
 .post-text-3 {
     font-size: $text-sm;
 }
 }
 
 .section-4 {
     display:grid;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $primary;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 5;

     .post-preview-4{
        display: grid;
        grid-column:span 5;
        grid-row: 4/5;
    }
    .post-preview-4-images{
        display: grid;
        grid-column: span 8;
        grid-row: 4/5;
    }
    .post-preview--4-images{
        display: grid;
        grid-column: span 8;
        grid-row: 4/5;
    }
    .post-title-4 {
        font-size: $text-lg;
        display: flex;
        justify-content: center;
    }
    .post-subtitle-4 {
        font-size: $text-md;
        color: $acent;
        display: flex;
        justify-content: center;
    }
    .post-text-4 {
        font-size: $text-sm;
    }
 }
 
 .section-5 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $acent;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 6;

     .post-preview-5{
        display: grid;
        grid-column:span 5;
        grid-row: 5/6;
    }
    .post-preview-5-images{
        display: grid;
        grid-column: span 8;
        grid-row: 5/6;
    }
    .post-preview--5-images{
        display: grid;
        grid-column: span 8;
        grid-row: 5/6;
    }
    .post-title-5 {
        font-size: $text-lg;
        display: grid;
        justify-content: center;
    }
    .post-subtitle-5 {
        font-size: $text-md;
        color: $primary;
        display: flex;
        justify-content: center;
    }
    .post-text-5 {
        font-size: $text-sm;
    }
 }
 
 .section-6 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $primary;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 7;
  .post-preview-6{
     display: grid;
     grid-column:span 5;
     grid-row: 6/7;
 }
 .post-previe6w-6-images{
     display: grid;
     grid-column: span 8;
     grid-row: 6/7;
 }
 .post-preview--6-images{
     display: grid;
     grid-column: span 8;
     grid-row: 6/7;
 }
 .post-title-6 {
     font-size: $text-lg;
     display: flex;
     justify-content: center;
 }
 .post-subtitle-6 {
     font-size: $text-md;
     color: $acent;
     display: flex;
     justify-content: center;
 }
 .post-text-6 {
     font-size: $text-sm;
 }   
 }
 
 .section-7 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $acent;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 8; 
     
     .post-preview-7{
     display: grid;
     grid-column:span 5;
     grid-row: 7/8;
 }
 .post-preview-7-images{
     display: grid;
     grid-column: span 8;
     grid-row: 7/8;
 }
 .post-title-7 {
     font-size: $text-lg;
     display: flex;
     justify-content: center;
 }
 .post-subtitle-7 {
     font-size: $text-md;
     color: $primary;
     display:flex;
     justify-content: center;
 }
 .post-text-7 {
     font-size: $text-sm;
 }
 }

 .section-8 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $primary;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 9;
     
     .post-preview-8{
     display: grid;
     grid-column:span 5;
     grid-row: 8/9;
 }
 .post-preview-8-images{
     display: grid;
     grid-column: span 8;
     grid-row: 8/9;
 }
 .post-title-8 {
     font-size: $text-lg;
     color: $acent;
     display: flex;
     justify-content: center;
 }
 .post-subtitle-8 {
     font-size: $text-md;
     display: flex;
     justify-content: center;
     
 }
 .post-text-8 {
     font-size: $text-sm;
 }
 }

 .section-9 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $acent;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 10;

     .post-preview-9{
        display: grid;
        grid-column:span 5;
        grid-row: 9/10;
    }
    .post-preview-9-images{
        display: grid;
        grid-column: span 8;
        grid-row: 9/10;
    }
    .post-title-9 {
        font-size: $text-lg ;
        display: flex;
        justify-content: center;
    }
    .post-subtitle-9 {
        font-size: $text-md;
        display: flex;
        justify-content: center;
        color: $primary;
        
    }
    .post-text-9 {
        font-size: $text-sm;
    }
 }

 .section-10 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $primary;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 11;

     .post-preview-10{
        display: grid;
        grid-column:span 5;
        grid-row: 10/11;
    }
    .post-previe6w-10-images{
        display: grid;
        grid-column: span 8;
        grid-row: 10/11;
    }
    .post-preview--10-images{
        display: grid;
        grid-column: span 8;
        grid-row: 10/11;
    }
    .post-title-10 {
        font-size: $text-lg;
        display: flex;
        justify-content: center;
    }
    .post-subtitle-10 {
        font-size: $text-md;
        color: $acent;
        display: flex;
        justify-content: center;
    }
    .post-text-10 {
        font-size: $text-sm;
    }
 }

 .section-11 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $acent;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 12;

     .post-preview-11{
        display: grid;
        grid-column:span 5;
        grid-row: 11/12;
    }
    .post-preview-11-images{
        display: grid;
        grid-column: span 8;
        grid-row: 11/12;
    }
    .post-preview--11-images{
        display: grid;
        grid-column: span 8;
        grid-row: 11/12;
    }
    .post-title-11 {
        font-size: $text-lg;
        display: flex;
        justify-content: center;
    }
    .post-subtitle-11 {
        font-size: $text-md;
        color: $primary;
        display: flex;
        justify-content: center;
    }
    .post-text-11 {
        font-size: $text-sm;
    }
 }
 
 .section-12 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $primary;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 13;

     .post-preview-12{
        display: grid;
        grid-column:span 5;
        grid-row: 12/13;
    }
    .post-preview-12-images{
        display: grid;
        grid-column: span 8;
        grid-row: 12/13;
    }
    .post-title-12 {
        font-size: $text-lg ;
        color: $acent;
        display: flex;
        justify-content: center;
    }
    .post-subtitle-12 {
        font-size: $text-md;
        display: flex;
        justify-content: center;
        
    }
    .post-text-12 {
        font-size: $text-sm;
    }
 }
 
 .section-13 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $acent;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 14;
     .post-preview-13{
        display: grid;
        grid-column:span 5;
        grid-row: 13/14;
    }
    .post-preview-13-images{
        display: grid;
        grid-column: span 8;
        grid-row: 13/14;
    }
    .post-title-13 {
        font-size: $text-lg ;
        color: $primary;
        display: flex;
        justify-content: center;
    }
    .post-subtitle-13 {
        font-size: $text-md;
        display: flex;
        justify-content: center;
        
    }
    .post-text-13 {
        font-size: $text-sm;
    }
 }
 
 .section-14 {
     display:grid ;
     gap:$sp-md;
     font-size: $text-md;
     background-color: $primary;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 15;

     .post-preview-14{
        display: grid;
        grid-column:span 5;
        grid-row: 14/15;
    }
    .post-preview-14-images{
        display: grid;
        grid-column: span 8;
        grid-row: 14/15;
    }
    .post-title-14 {
        font-size: $text-lg ;
        color: $acent;
        display: flex;
        justify-content: center;
    }
    .post-subtitle-14 {
        font-size: $text-md;
        display: flex;
        justify-content: center;
        
    }
    .post-text-14 {
        font-size: $text-sm;
    }
 }

 .section-15 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $acent;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 16;

     .post-preview-15{
        display: grid;
        grid-column:span 5;
        grid-row: 15/16;
    }
    .post-preview-15-images{
        display: grid;
        grid-column: span 8;
        grid-row: 15/16;
    }
    .post-title-15 {
        font-size: $text-lg ;
        color: $primary;
        display: flex;
        justify-content: center;
    }
    .post-subtitle-15 {
        font-size: $text-md;
        display: flex;
        justify-content: center;
        
    }
    .post-text-15 {
        font-size: $text-sm;
    }
 }
 
 .section-16 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $primary;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 17;

     .post-preview-16{
        display: grid;
        grid-column:span 5;
        grid-row: 16/17;
    }
    .post-preview-16-images{
        display: grid;
        grid-column: span 8;
        grid-row: 16/17;
    }
    .post-title-16 {
        font-size: $text-lg;
        color: $acent;
        display: flex;
        justify-content: center;
    }
    .post-subtitle-16 {
        font-size: $text-md;
        display: flex;
        justify-content: center;
        
    }
    .post-text-16 {
        font-size: $text-sm;
    }
 }

 .section-17{
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $acent;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 18;
     .post-preview-17{
        display: grid;
        grid-column:span 5;
        grid-row: 17/18;
    }
    .post-preview-17-images{
        display: grid;
        grid-column: span 8;
        grid-row: 17/18;
    }
    .post-title-17 {
        font-size: $text-lg ;
        color: $primary;
        display: flex;
        justify-content: center;
    }
    .post-subtitle-17 {
        font-size: $text-md;
        display: flex;
        justify-content: center;
        
    }
    .post-text-17 {
        font-size: $text-sm;
    }
 }
 
 .section-18 {
     display:grid ;
     gap: $sp-md;
     font-size: $text-md;
     background-color: $primary;
     justify-content: space-around;
     grid-column: span 12;
     grid-row: 19;
     .post-preview-18{
        display: grid;
        grid-column:span 5;
        grid-row: 18/19;
    }
    .post-preview-18-images{
        display: grid;
        grid-column: span 8;
        grid-row: 18/19;
    }
    .post-title-18 {
        font-size: $text-lg ;
        color: $acent;
        display: flex;
        justify-content: center;
    }
    .post-subtitle-18 {
        font-size: $text-md;
        display: flex;
        justify-content: center;
        
    }
    .post-text-18 {
        font-size: $text-sm;
    }
 }
 

}